<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="images/2.jpg" />
    <title>@ViewBag.Title - Muesli madness</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">@Html.ActionLink("Muesli madness", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">@Html.ActionLink("Order", "Index", "Order") <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">@Html.ActionLink("Our range", "Index", "Range")</a>
                <a class="nav-item nav-link" href="#">@Html.ActionLink("Admin", "Index", "Admin")</a>
                @*<a class="nav-item nav-link disabled" href="#">Disabled <li>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-primary" })</li></a>*@
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.Action("Summary", "Cart")</li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Muesli madness</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
       /*     var showDiv = function (e) {
                e.preventDefault();
                $("#dvContents").show();
            }

            var hideDiv = function (e) {
                e.preventDefault();
                $("#dvContents").hide();
            }



            $("#btnAddToCart").click(function () {
                $("#dvContents").toggle("fast", function () {
                    // Animation complete.
                });
            })

            //$("#btnAddToCart").click(showDiv);
            $("#continue-shopping").click(hideDiv);*/
    </script>
</body>
</html>
