@model Muesli.ViewModels.CartIndexViewModel
@{
    ViewBag.Title = "Your Cart";
}
<h2>Your cart</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-left">Item</th>
            <th class="text-right">Price per gram</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)

        {
            <tr>
                <td class="text-left">@line.Ingredient.Name</td>
                <td class="text-right">€ @line.Ingredient.Price.ToString("n")</td>
                <td class="text-right">@line.Quantity<span> g</span></td>
                <td class="text-right">€ @((line.Quantity * line.Ingredient.Price).ToString("n"))</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                        @Html.Hidden("IngredientId", line.Ingredient.IngredientId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.TotalWeight<span> g</span>
            </td>
            <td class="text-right">
                € @Model.Cart.TotalPrice.ToString("n")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    @Html.ActionLink("Continue shopping", "Index", "Order", new { area = "" }, new { @class = "btn btn-primary" })
    @if (Session["Username"] != null)
    {
        @Html.ActionLink("Checkout", "Checkout", "Cart", new { area = "" }, new { @class = "btn btn-primary" })
    }
    else
    {
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Checkout</button>
    }
    @*@Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })*@
</div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.ActionLink("Sign In", "Login", "Account", new { area = "" }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Don't have an account? Register here", "Register", "Account", new { area = "" }, new { @class = "nav-item nav-link" })
                    @*@Html.ActionLink("Checkout as a guest", "Register")*@
                    @Html.ActionLink("No, thanks. I'll buy as a guest this time", "Checkout", "Cart", new { area = "" }, new { @class = "nav-item nav-link" })
                </div>
                <div class="modal-footer">
                    <input id="continue-shopping" class="btn btn-secondary" data-dismiss="modal" value="Cancel" />
                    @*@Html.ActionLink("Go to Cart", "Index", null, new { @class = "btn btn-primary" })*@
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

