@model IEnumerable<Muesli.Models.Ingredient>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout_Bt.cshtml";
}

@*@using (Html.BeginForm("Index", "Cart"))
    {
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-success" value="View Cart" />
    }*@


    <h2>Order your Muesli</h2>

    <div class="row">

    <div class="col-sm-2, col-md">

    <p>Choose your custom ingredients:</p>

    <div class="thecontent" style="display:inline;">
        <div class="ingredients ingredient-base">
            <div class='toggleHolder'>
                <div class='toggler'>
                    <h5>Base ingredient</h5>
                </div>
                <div class='toggler' style='display:none;'>
                    <h5>Base ingredient</h5>
                </div>
            </div>
            <div class='wrapper wrapper-base' style='display:none;'>
                @*<div class='wrapper wrapper-base'>*@
                @using (Html.BeginForm("AddToCart", "Cart"))
            {
                    @Html.DropDownList("Ingredients1")
                    <div class="selected selected-base" style="display:none;">
                        <input name="quantity" id="quantity" type="range" min="5" max="800" value="5" /><br />
                        <span>
                            Selected:
                            <span></span>
                            grams
                        </span><br />
                        <span>
                            Price:
                            <span class="priceresult"></span>
                        </span><br />
                        @Html.Hidden("IngredientId")@*IEnumerable<Muesli.Models.Ingredient.IngredientId>)*@
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart" />
                    </div>
                }
                @*</div>*@
            </div>
        </div>
        <div class="ingredients ingredient-fruits">
            <div class='toggleHolder'>
                <div class='toggler'>
                    <h5>Fruits</h5>
                </div>
                <div class='toggler' style='display:none;'>
                    <h5>Fruits</h5>
                </div>
            </div>
            <div class='wrapper wrapper-fruits' style='display:none;'>
                @*<div class='wrapper wrapper-fruits'>*@
                @using (Html.BeginForm("AddToCart2", "Cart"))
            {
                    @Html.DropDownList("Ingredients2")
                    <div class="selected selected-fruits" style="display:none;">
                        <input name="quantity" id="quantity" type="range" min="5" max="500" value="5" /><br />
                        <span>
                            Selected:
                            <span></span>
                            grams
                        </span><br />
                        <span>
                            Price:
                            <span class="priceresult"></span>
                        </span><br />
                        @Html.Hidden("IngredientId")
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart" />
                    </div>
                }
                @*</div>*@
            </div>
        </div>

        <div class="ingredients ingredient-nuts">
            <div class='toggleHolder'>
                <div class='toggler'>
                    <h5>Nuts</h5>
                </div>
                <div class='toggler' style='display:none;'>
                    <h5>Nuts</h5>
                </div>
            </div>
            <div class='wrapper wrapper-nuts' style='display:none;'>
                @*<div class='wrapper wrapper-nuts'>*@
                @using (Html.BeginForm("AddToCart3", "Cart"))
            {
                    @Html.DropDownList("Ingredients3")
                    <div class="selected selected-nuts" style="display:none;">
                        <input name="quantity" id="quantity" type="range" min="5" max="250" value="5" /><br />
                        <span>
                            Selected:
                            <span></span>
                            grams
                        </span><br />
                        <span>
                            Price:
                            <span class="priceresult"></span>
                        </span><br />
                        @Html.Hidden("IngredientId")
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart" />

                    </div>
                }
                @*</div>*@
            </div>
        </div>
        <div class="ingredients ingredient-seeds">
            <div class='toggleHolder'>
                <div class='toggler'>
                    <h5>Seeds</h5>
                </div>
                <div class='toggler' style='display:none;'>
                    <h5>Seeds</h5>
                </div>
            </div>
            <div class='wrapper wrapper-seeds' style='display:none;'>
                @*<div class='wrapper wrapper-seeds'>*@
                @using (Html.BeginForm("AddToCart4", "Cart"))
            {
                    @Html.DropDownList("Ingredients4")
                    <div class="selected selected-seeds" style="display:none;">
                        <input name="quantity" id="quantity" type="range" min="5" max="100" value="5" /><br />
                        <span>
                            Selected:
                            <span></span>
                            grams
                        </span><br />
                        <span>
                            Price:
                            <span class="priceresult"></span>
                        </span><br />
                        @Html.Hidden("IngredientId")
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart" />

                    </div>
                }
                @*</div>*@
            </div>
        </div>
        <div class="ingredients ingredient-others">
            <div class='toggleHolder'>
                <div class='toggler'>
                    <h5>Others</h5>
                </div>
                <div class='toggler' style='display:none;'>
                    <h5>Others</h5>
                </div>
            </div>
            <div class='wrapper wrapper-others' style='display:none;'>
                @*<div class='wrapper wrapper-others'>*@
                @using (Html.BeginForm("AddToCart5", "Cart"))
            {
                    @Html.DropDownList("Ingredients5")
                    <div class="selected selected-others " style="display:none;">
                        <input name="quantity" id="quantity" type="range" class="" min="5" max="100" value="5" /><br />
                        <span>
                            Selected:
                            <span class="weight"></span>
                            grams
                        </span><br />
                        <span>
                            Price:
                            <span class="priceresult"></span>
                        </span><br />
                        @Html.Hidden("IngredientId")
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Add to cart" />

                    </div>
                }
                @*</div>*@
            </div>
        </div>
    </div>

    </div>

    <div class="col-sm-2 col-md">Right column</div>

    </div><!-- row end -->

<script>

    $(document).ready(function () {
        $('.toggler').on('click', function () {
            $(this).parent().children().toggle(); //swaps the display:none between the two spans
            $(this).parent().parent().find('.wrapper').slideToggle();
            //swap the display of the main content with slide action
        });

        $('select').on('change', function () {
            if ($(this).val() != 0) {
                var selecteditem = $(this).val();
                var tempprice = selecteditem * 5 / 100;
                $(this).parent().find('.selected').hide();
                $(this).parent().find('.selected').show();
                $(this).parent().children().find('input:first').val(5);
                $(this).parent().children().children("span").children("span").text(5);
                $(this).parent().children().children("span").children("span.priceresult").text("€ " + tempprice);
            } else {
                $(this).parent().find('.selected').hide();
            }
        })

        $('input').on('input', function () {
            var grams = $(this).val();
            var selecteditem = $(this).parent().parent().find('select').val();
            var totalresult = selecteditem * grams / 100;
            $(this).parent().children("span").children("span").text($(this).val());
            $(this).parent().children("span").children("span.priceresult").text("€ " + totalresult);
            /*$(".priceresult").text("€ " + totalresult);

            console.log("ingredientbase: " + selecteditem);
            console.log("grams value: " + grams);
            console.log("totalresult value: " + totalresult);*/
        });




    });
</script>
