@model Muesli.Models.User
@{
    ViewBag.Title = "Login - Muesli Madness";
}



@if (Session["Username"] != null)
{
    <strong>You are already logged in, @Html.ActionLink(Session["Username"].ToString(), "Account", new { area = "" }, new { @class = "nav-item nav-link" })</strong><br />
    <span>@Html.ActionLink("Click here to logout", "Logout", "Account")</span>
}
else
{

    using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Login</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-2"> </span>
                <div class="col-md-10">
                    <input type="submit" class="btn btn-primary" value="Login" />
                </div>
            </div>
        </div>
    }
    <p>
        @Html.ActionLink("Don't have an account? Click here to register", "Register")
    </p>
}