@model Muesli.Models.User
@{
    ViewBag.Title = "Login - Muesli Madness";
}



@if (Session["Username"] != null)
{
    <strong>You are already logged in, @Html.ActionLink(Session["Username"].ToString(), "Account", new { area = "" }, new { @class = "nav-item nav-link" })</strong><br />
    <span>@Html.ActionLink("Click here to logout", "Logout", "Account")</span>
}
else
{

    using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <legend> Login </legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <p>
            @Html.LabelFor(a => a.Username)
            @Html.TextBoxFor(a => a.Username)
        </p>
        <p>
            @Html.LabelFor(a => a.Password)
            @Html.PasswordFor(a => a.Password)
        </p>
        <p>
            <label></label>
            <input type="submit" value="Login" />
        </p>

    }
    <p>
        @Html.ActionLink("Don't have an account? Click here to register", "Register")
    </p>
}  